data/source/Data Dictionary MRFF as of 20220818 MB.xlsx - Data Layout_Codes and Desc.csv
data/source/dotperson2018.csv
data/source/dotperson2019.csv
data/source/dotperson2020.csv
data/source/dotperson2021.csv
data/source/Data Dictionary MRFF as of 20220818 MB.xlsx
code_py/analysis - 副本.ipynb
data/source/~$DataDictionary_Washington Fatal Crash Files.xlsx
data/source_copy/~$Copy_DataDictionary_Washington Fatal Crash Files.xlsx
code_py/Classification_1.ipynb
deliverable/~$presentation.pptx
deliverable/presentation - 副本.pptx
deliverable/IC all.twbx
deliverable/Info Challenge.twbx
deliverable/Info.twbx
